<div class="card">
    <h3 class="card-header">Input</h3>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="range_channel1"><%= name %> (Unit: <%= unit %>)</label>
                <input type="range" class="form-control-range" id="range_channel1">
            </div>
        </form>
    </div>
</div>