<div class="card">
    <h3 class="card-header">Serial Terminal</h3>
    <div class="card-body">

        <form id="command_form">
            <div class="form-group">
                <!-- <label for="terminal_output">Terminal Output</label> -->
                <textarea class="form-control" id="terminal_output" rows="20"></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">&gt</span>
                </div>
                <input type="text" class="form-control" id="terminal_input">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="send_input_btn">Send</button>
                </div>
            </div>
        </form>
        <!-- <form id="command">
            <input type="text" id="command_string"/>
        </form>
        <textarea id="serial_output"></textarea> -->
    </div>
</div>