<div class="card">
    <h3 class="card-header">VM Control</h3>
    <div class="card-body">
        <div class="alert alert-secondary" id="vm-state-view">
            The virtual machine is powered off.
        </div>
    </div>
</div>