<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <% include ../partials/head_simu %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<main role="main" class="container">
    <div class="row">
        <div class="col">
            <% include ../partials/vm_control %>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4">
            <div class="card">
                <h3 class="card-header">Display</h3>
                <div class="card-body">
                    <div id="connected-view">
                        <div id="noVNC-canvas"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <%include ../partials/terminal %>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <%- include('../partials/input', { name: "Channel 1", unit: "°C"}); %>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <%- include('../partials/output'); %>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>