<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <% include ../partials/head_simu %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="col">
            <div id="connect-setup">
                <form id="connect-form">
                    <label for="connectionString">
                    URL
                    </label>
                    <input type="text" name="connectionString" />
                    <label>&nbsp</label>
                    <input type="submit" value="Connect" />
                </form>
                <form id="connect-password" class="hidden">
                    <label for="password">
                    Password
                    </label>
                    <input type="password" name="password" />
                    <label>&nbsp</label>
                    <input type="submit" value="Connect" />
                </form>
            </div>
            <div id="connected-view" class="hidden">
                <div id="disconnect">
                <button id="disconnect-btn">Disconnect</button>
                </div>
                <div id="noVNC-canvas"></div>
            </div>
        </div>
        <div class="col">
            <div class="jumbotron">
                <h1>Terminal</h1>
                <script>
                    const socket = io.connect('http://localhost')
                    socket.on('news', (data) => {
                        console.log(data)
                        socket.emit('rufma event', { rufma: 'daten'})
                    })
                </script>
            </div>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>